<%include ../partials/header%>
<div class="ui container">
    <div class="ui three column grid">
        <div class="six wide column"></div>
        <div class="four wide column">
            <div class="ui two item menu">
                <a class="item" id="text-post-btn"><i class="pencil alternate icon"></i></a>
                <a class="item" id="image-post-btn"><i class="image icon"></i></a>
            </div>
        </div>
        <div class="six wide column"></div>
        <% posts.reverse().forEach(function(post){ %>
            <div class="one wide column"></div>
            <div class="fourteen wide column">
                <div class="ui fluid centered card">
                    <div class="content">
                        <div class="right floated meta">
                            <form action="/posts/<%=post._id%>?_method=DELETE" method="post">
                                <button class="ui negative basic button icon small">
                                    <i class="trash icon"></i>
                                </button>
                            </form>
                            <a href="/posts/<%=post._id%>/edit" class="ui basic button yellow icon small">
                                <i class="edit icon"></i>
                            </a>
                        </div>
                        <div class="right floated meta posted-time"><%=moment(post.date).fromNow()%></div>
                        <img class="ui avatar image" src="/images/user.svg"> Andry
                    </div>
                    <div class="ui rounded image post-image">
                        <img class="ui fluid medium rounded image" data-src="<%=post.image%>" alt="" srcset="">
                    </div>
                    <div class="content">
                        <a class="header" href="/posts/<%=post._id%>">
                            <%=  post.title   %>
                        </a>
                        <p><%-  post.body.substring(0, 100)   %>...</p>
                        <span class="right floated">
                            <div class="ui icon" onclick="likeRequest('<%=post._id%>')">
                                <a class="item" id="like-btn">
                                    <i class="heart outline icon red" id="<%=post._id%>-like-btn-icon"></i>
                                </a>
                            </div>
                            <label for="#like-btn" id="<%=post._id%>-likes-counter">
                                <%=post.likes%>
                            </label>
                        </span>
                        <i class="comment icon"></i>
                        3 comments
                    </div>
                    <div class="extra content">
                        <div class="ui large transparent left icon input">
                            <input type="text" placeholder="Add Comment...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="one wide column"></div>
        <% }) %>
    </div>
</div>

    <!-------------------------------------------- MODALS --------------------------------------->
    <!-------------------------------------------- TEXTPOST --------------------------------------->

    <div class="ui modal" id="text-post-modal">
        <div class="header">Text</div>
        <div class="content">
            <form action="/posts/text" method="POST">
                <div class="ui form">
                    <div class="field input">
                        <input type="text" name="postTitle" placeholder="Title">
                    </div>
                    <div class="field input">
                        <textarea name="postBody" placeholder="Text content here..."></textarea>
                    </div>
                    <div class="field">
                        <button class="ui violet big basic button">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-------------------------------------------- IMGPOST --------------------------------------->

    <div class="ui modal" id="image-post-modal">
        <div class="header">Image post</div>
        <div class="ui placeholder segment">
            <div class="ui two column very relaxed stackable grid">
                <div class="column">
                    <div class="ui big button" id="load-image-btn">
                        Upload image
                    </div>
                </div>
                <div class="middle aligned column">
                    <div class="ui big button" id="url-image-btn">
                        <i class="signup icon"></i>
                        Insert from URL
                    </div>
                </div>
            </div>
            <div class="ui vertical divider">
                Or
            </div>
        </div>
    </div>
    <!-------------------------------------------- IMGUPLOAD --------------------------------------->
    <div class="ui modal" id="image-post-load">
        <div class="header">Load image</div>
        <div class="content">
            <form action="/posts/upload/image" method="POST" enctype="multipart/form-data">
                <div class="ui form">
                    <div class="field">
                        <label>Upload image</label>
                        <div class="ui left icon input">
                            <input type="file" accept="image/*" name="image" required>
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field input violet">
                        <input type="text" name="postTitle" placeholder="Title">
                    </div>
                    <div class="field input violet">
                        <textarea name="postBody" placeholder="Add a caption ..."></textarea>
                    </div>
                    <button class="ui violet big basic button">Confirm</button>
                </div>
            </form>
        </div>
    </div>
    <!-------------------------------------------- IMGURL --------------------------------------->
    <div class="ui modal" id="image-post-url">
        <div class="header">URL image</div>
        <div class="content">
            <form action="/posts/url/image" method="POST">
                <div class="ui form">
                    <div class="field">
                        <input type="text" name="image" placeholder="URL" required>
                    </div>
                    <div class="field input">
                        <input type="text" name="postTitle" placeholder="Title">
                    </div>
                    <div class="field input">
                        <textarea name="postBody" placeholder="Add a caption ..."></textarea>
                    </div>
                    <div class="field">
                        <button class="ui violet big basic button">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script>
        function addLike(post_id){
            axios.post('/posts/'+ post_id + '/like')
            .then(function(response){
                document.getElementById(post_id + '-likes-counter').innerHTML = response.data.likes
                document.getElementById(post_id + '-like-btn-icon').classList.remove('outline')
            })
            .then(function(error){
            })
        }
        function removeLike(post_id){
            axios.post('/posts/'+ post_id + '/dislike')
            .then(function(response){
                document.getElementById(post_id + '-likes-counter').innerHTML = response.data.likes
                document.getElementById(post_id + '-like-btn-icon').classList.add('outline')
            })
            .then(function(error){
            })
        }
        function likeRequest(post_id){
            if(document.getElementById(post_id + '-like-btn-icon').classList.contains('outline')){
                addLike(post_id)
            } else {
                removeLike(post_id)
            }
        }
    </script>
<%include ../partials/footer%>